header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  height: 80px;
  align-items: center;
  border-bottom: 1px solid black;
  position: fixed;
}

header span {
  padding: 10px;
}

.nav {
  display: inline-flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin-right: 20px;
}

.navbar span {
  display: inline-flex;
  margin-right: 20px;
  text-decoration: underline;
}

.logo {
  display: inline-flex;
  align-items: center;
  margin-left: 20px;
}

.logo span {
  color: MediumAquamarine;
}

.container {
  display: flex;
  border: 1px solid black;
}
